/* @version $Id$ */
html {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

body {
    background: none repeat scroll 0 0 #FAFAF8;
    color: #434343;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    font-family: "TitilliumText22LRegular",Arial,Helvetica,sans-serif;
    font-size: 13px;
}

.wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}

.w2 {
    margin: 0 auto;
    width: 1024px;
}

.w2-box {
    box-shadow: 0 0 40px 6px #DDDDDD;
    float: left;
    margin-bottom: 30px;
    width: 1024px;
}

.wrapper.startpage .w3 {
    padding: 0;
    min-height: 800px;
}
.wrapper .w3 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    left: 0;
    margin: 0;
    padding: 0 0 20px;
    position: static;
}

.process_rating_light .process_rating_dark {
    background: url("../img/progress-bg.gif") repeat-x scroll left center #9CBFEE;
    height:20px;
    position:relative;
}

.process_rating_light {
    height:20px;
    margin-right:5px;
    position:relative;
    width:928px;
    border-bottom: 1px solid #7FA9E4;
    border-right: 1px solid #7FA9E4;
    border-top: 1px solid #D1E4FD;
    text-align: center;
}




#header {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none !important;
    float: left;
    height: auto;
    left: 0;
    padding-left: 48px;
    padding-right: 48px;
    border-bottom: 7px solid #434343;
    top: 0;
    width: 928px;
}

.logo {
    background: url("../img/top_logo.jpg") no-repeat scroll 0 10px transparent;
    height: 64px;
    margin-top: 17px;
    overflow: hidden;
    padding-top: 18px;
    text-indent: -9999px;
    width: 280px;
    float: left;
    z-index: 20;
}

#main {
    padding-bottom: 0;
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 48px;
    width: 928px;
    padding-top: 0;
    top: -39px;
    z-index: 10;
}

.nav-holder:after {
    clear: both;
    content: "";
    display: block;
}
.nav-holder {
    float: left;
    height: auto;
    min-height: 52px;
    padding-left: 48px;
    padding-top: 11px;
    position: relative;
    top: -42px;
    width: 928px;
    z-index: 15 !important;
}

.footer-inf {
    width: 928px;
}

#footer .txt {
    color: #4F4E4D;
    float: left;
    line-height: 14px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}

#footer .txt p, #footer .txt p a {
    font-size: 10px;
    margin: 0 0 -3px;
}


h1 {color:#000000;font-weight:bold;font-size:22px;margin:20px 0px 15px 0px;padding:0px;width:auto;border-style:solid;border-width:0px 0px 1px 0px;border-color:#000000;}
h2 {color:#000000; font-weight:bold;font-size:16px;margin:15px 0px 8px 0px;padding:0px;}

table.tabledetails {font-size:11px; background-color:#FFF2CC; border-style: solid; border-width:0px 1px 1px 1px; border-color:#DA9401;}
table.tabledetails tr td {padding:4px}
table.tabledetails tr.headerrow td {background-color:#DA9401; color:#FFFFFF; font-weight:bold}
table.tabledetails tr.headerrow td.left {text-align:left}
table.tabledetails tr.headerrow td.center {text-align:center}
table.tabledetails tr.headerrow td.right {text-align:right}

/* ORDER DETAILS CONTENT ROW 1 */
table.tabledetails tr.contentrow1 td {background-color:#FFF2CC;vertical-align:top}
table.tabledetails tr.contentrow1 td.left {text-align:left}
table.tabledetails tr.contentrow1 td.center {text-align:center}
table.tabledetails tr.contentrow1 td.right {text-align:right}

/* ORDER DETAILS CONTENT ROW 2 */
table.tabledetails tr.contentrow2 td {background-color:#FFEAAB;vertical-align:top}
table.tabledetails tr.contentrow2 td.left {text-align:left}
table.tabledetails tr.contentrow2 td.center {text-align:center}
table.tabledetails tr.contentrow2 td.right {text-align:right}


ul.stack {padding:5px}
ul.stack li {}
ul.stack li.success {list-style:none; padding:5px 0px 2px 20px; background-image:url(../img/icons/icon_accept.gif); background-repeat:no-repeat; background-position:0px 4px;}
ul.stack li.error {list-style:none; padding:5px 0px 2px 20px; background-image:url(../img/icons/icon_error.png); background-repeat:no-repeat; background-position:0px 4px;}

ul.info_error {border:solid 2px #B22020; background-color:#FFD6D6; padding:8px}
ul.info_error li {}
ul.info_error li.infoError {list-style:none; padding:5px 0px 2px 20px; background-image:url(../img/icons/icon_error.png); background-repeat:no-repeat; background-position:0px 4px}

ul.info_success {border:solid 2px #4DAA30; background-color:#BDFFA9; padding:8px}
ul.info_success li {}
ul.info_success li.infoSuccess {list-style:none; padding:5px 0px 2px 20px; background-image:url(../img/icons/icon_accept.gif); background-repeat:no-repeat; background-position:0px 4px; background-color:#BDFFA9}

ul.info_warning {border:solid 2px #C39700; background-color:#FFE89A; padding:8px}
ul.info_warning li {}
ul.info_warning li.infoWarning {list-style:none; padding:5px 0px 2px 20px; background-image:url(../img/icons/icon_alert.gif); background-repeat:no-repeat; background-position:0px 4px; background-color:#FFE89A}


/* HIGHLIGHTBOX (BACKGROUND) */
div.highlightbox {padding: 15px; background-color:#FFF2CC; border: solid #E9D28F 1px}
div.highlightbox ul {margin-left:15px; padding:0; display:block; list-style-type:square; line-height:20px}
div.highlightbox h1 {color:#BE8100; padding:0px 0px 10px 0px; margin:0; border:none; font-size:16px}
div.highlightbox div.hr {height:1px; line-height:1px; margin:0; padding:0; display:block; border-bottom: solid 1px #E9D28F;}

/* paypal page */
.paypal_container_1 {
    height: 820px;
    width: 650px;
    float:right;
}

.paypal_container_2 {
    height: 120px;
    width: 200px;
    padding-top:15px;
}

.paypal_container_3 {
    height: 600px;
    width: 200px;
    background-color: #cccccc;
}

.paypal_container_signup {
    height: 400px;
    width: 300px;
    border-right:1px solid #cccccc;
    float:left;
    padding:10px;
}
.paypal_container_data {
    height: 400px;
    width: 305px;
    float:right;
    padding:10px;
}

.paypal_h3 {
    font-family:Arial;font-size:14px;font-weight:bold;font-style:italic;text-decoration:none;color:#666666;
}
.paypal_h2 {
    font-family:Arial;font-size:16px;font-weight:bold;font-style:normal;text-decoration:none;color:#333333;
    padding: 10px;
}
.paypal_button_api_container {
    height: 30px;
    width: 240px;
    text-decoration:none
}
#paypal_button_api {
    height: 36px;
    width: 246px;
    font-family:Arial;font-size:13px;font-weight:bold;font-style:normal;text-decoration:none;color:#0066CC;
    text-align:center;
    vertical-align:middle;
}
#paypal_button_api p {
    padding-top:10px;
}

.paypal_button_api {
    background-image: url("../img/paypal/paypal_button_bg.png");
}

/* ekomi page */
.ekomi_container_1 {

    width: 928px;
}

.button {
    margin: 10px 5px 10px 0;
    background: #ff7b00;
    color: #fff;
    display: table;
    padding: 10px 20px;
    background: -moz-linear-gradient(top, #ffae4b 0%, #ff7b00);
    background: -o-linear-gradient(#ffaf4b, #ff7b00);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffae4b), to(#ff7b00));
    background: -webkit-linear-gradient(#ffaf4b, #ff7b00);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ff7b00;
    text-decoration: none;
}
.button:hover,
.button-green:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* buttons */
input[type="submit"] {
    margin: 10px 2px 10px 0;
    background: #ff7b00;
    color: #fff;
    padding: 11px 20px;
    background: -moz-linear-gradient(top, #ffae4b 0%, #ff7b00);
    background: -o-linear-gradient(#ffaf4b, #ff7b00);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffae4b), to(#ff7b00));
    background: -webkit-linear-gradient(#ffaf4b, #ff7b00);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ff7b00;
}

input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]::-moz-focus-inner {
    border: 0px;
    padding: 0px;
}
span.req{color:#bf0000}

.alert{

    border-radius: 4px 4px 4px 4px;

    padding:14px;
    opacity: 1;
    margin:10px 0;
}
.alert.green{
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert.red{
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.btn_wrap{text-align:right;display:block;height:40px}
.btn_wrap .button{margin:0 0 0 15px;float:right}
