.checkPPExpressError {
    border:solid 2px #B22020; background-color:#FFD6D6; padding:8px
}

.paypalexpress_cart {
    float: right;
}

.paypalexpress_product {
    display: block;
    margin-top: 10px;
}
