<div class="container">
 	<div class="header">
    	<ul class="nav nav-pills pull-right">

		</ul>
		<h3 class="text-muted"><img src="templates/img/top_logo.jpg"alt="" /></h3>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{$processing}</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="progress">
		  <div id="ProgressBar" class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
		    <span class="sr-only">45% Complete</span>
		  </div>
		</div>
		<img class="loading-icon" src="templates/img/wait.gif" />
		<p id="CurrentOperation">{$smarty.const.TEXT_UPDATING}</p>
		<p><button class="btn btn-lg log-status btn-success">{$smarty.const.TEXT_SHOW_LOG}</button></p>
		<div class="panel panel-default" style="display:none">
		  <div class="panel-body panel-log">
			
		  </div>
		</div>
		<p><a href="{$next_page}" class="btn btn-lg btn-success next-btn btn-next-page" style="float:right">{$smarty.const.TEXT_BUTTON_NEXT}</a></p>
	  </div>
</div>
<script type="text/javascript" src="templates/js/async_action.js"></script>
<script type="text/javascript">{literal}
	$(function(){
		var asyncLoader = createAsyncLoader(window.location.href, {/literal}"{$smarty.const.TEXT_HIDE_LOG}" , "{$smarty.const.TEXT_HIDE_LOG}"{literal});
		$('.log-status').click(function(){
			$('.panel-log').parent().slideToggle('slow', function(){
				if ($(this).is(':visible'))
					$('.log-status').html("{/literal}{$smarty.const.TEXT_HIDE_LOG}{literal}");
				else
                    $('.log-status').html("{/literal}{$smarty.const.TEXT_SHOW_LOG}{literal}");

             });
		});
	});{/literal}
</script>