<div class="container">
 	<div class="header">
    	<ul class="nav nav-pills pull-right">
		</ul>
		<h3 class="text-muted"><img src="templates/img/top_logo.jpg"alt="" /></h3>
	</div>
	<div class="panel panel-default">
	  <div class="panel-body">
	  	<h1>{$smarty.const._TEXT_DATABASE_HEADER}</h1>
		  {if $smarty.const._APS_INSTALL_PACKAGE neq 'true'}
	  	<div class="row-fluid">
		    <div class="alert alert-warning">
		        <h3>{$smarty.const._TEXT_DATABASE_WARNING}</h3>
		        <p>{$smarty.const._TEXT_DATABASE_INFO2}</p>
		    </div>
		</div>
		  {/if}
	  	<div class="row-fluid">
    	<form method="post" action="{$current_page}" class="form-horizontal">
    		<fieldset class="col-xs-12">
				{if $error}
	            <div class="alert alert-danger">
	                <ul class="info_error">
	                    {foreach name=aussen item=err from=$error}
	                    <li class="infoError">{$err.text}</li>
	                    {/foreach}
	                </ul>
	            </div>
	            {/if}
    		</fieldset>
    		<fieldset class="col-xs-12">
    			<div class="col-xs-6">
    				<label class="form-group" for="_dbServer">{$smarty.const._TEXT_DATABASE_HOST}:</label>
					<input  tabindex="1" type="text" name="_dbServer" value="{$_dbServer}" size="40" placeholder="localhost" class="form-control" {if $isPreDefined}readonly="readonly"{/if}/>
    			</div>
    			<div class="col-xs-6">
    				<label class="form-group" for="_sysAdminmail">{$smarty.const._TEXT_DATABASE_ADMIN_EMAIL}:</label>
    				<input  tabindex="7" type="text" name="_sysAdminmail" value="{$_sysAdminmail}" size="40" placeholder="info@your-shop.com" class="form-control"/>
    			</div>
    		</fieldset>
    		<fieldset class="col-xs-12">
    			<div class="col-xs-6">
    				<label class="form-group" for="_dbUser">{$smarty.const._TEXT_DATABASE_USER}:</label>
					<input  tabindex="2" type="text" name="_dbUser" value="{$_dbUser}" size="40" placeholder="{$smarty.const._TEXT_DATABASE_USER}" class="form-control"{if $isPreDefined}readonly="readonly"{/if}/>
    			</div>
    			<div class="col-xs-6">
    				<label class="form-group" for="_sysAdminmail2">{$smarty.const._TEXT_DATABASE_REPEAT_EMAIL}:</label>
    				<input tabindex="8" type="text" name="_sysAdminmail2" value="{$_sysAdminmail2}" size="40" placeholder="info@your-shop.com" class="form-control"/>
    			</div>
    		</fieldset>
			<fieldset class="col-xs-12">
				<div class="col-xs-6">
					<label class="form-group" for="_dbPassword">{$smarty.const._TEXT_DATABASE_PASS}:</label>
					<input  tabindex="3" type="password" name="_dbPassword" size="40" value="{$_dbPassword}" placeholder="{$smarty.const._TEXT_DATABASE_PASS}" class="form-control"{if $isPreDefined}readonly="readonly"{/if}/>
				</div>
				<div class="col-xs-6">
					<label class="form-group" for="store_country">{$smarty.const._TEXT_DATABASE_COUNTRY}:</label>
                    <select tabindex="9" name="store_country" class="form-control">
                        {foreach item=countries from=$store_countries}
                        <option value="{$countries.code}" {if $countries.code eq $selected_country}selected="yes"{/if}>{$countries.name}</option>
                        {/foreach}
                    </select>
				</div>
    		</fieldset>
    		<fieldset class="col-xs-12">
    			<div class="col-xs-6">
    				<label class="form-group" for="_dbDatabase">{$smarty.const._TEXT_DATABASE_DB_NAME}:</label>
    				<input tabindex="4" type="text" name="_dbDatabase" size="40" value="{$_dbDatabase}" placeholder="{$smarty.const._TEXT_DATABASE_DB_NAME}" class="form-control" {if $isPreDefined}readonly="readonly"{/if}/>
    			</div>
    			<div class="col-xs-6">
    				<label class="form-group" for="import_lang_de">{$smarty.const._TEXT_DATABASE_IMPORT_LANG}</label>
	                <div class="controls checkbox"><input tabindex="10" type="checkbox" name="import_lang_de" id="import_lang_de" value="1" {if $import_lang_de eq '1'} checked="checked"{/if} />{$smarty.const._TEXT_DATABASE_LANG_DE}</div>
    	            <div class="controls checkbox"><input tabindex="11" type="checkbox" name="import_lang_en" id="import_lang_en" value="1" {if $import_lang_en eq '1'} checked="checked"{/if} />{$smarty.const._TEXT_DATABASE_LANG_EN}</div>
    			</div>
    		</fieldset>
    		<fieldset class="col-xs-12">
    			<div class="col-xs-6">
    				<label class="form-group" for="_dbPrefix">{$smarty.const._TEXT_DATABASE_PREFIX}:</label>
    				<input  tabindex="5" type="text" name="_dbPrefix" size="40" {if $_dbPrefix} value="{$_dbPrefix}"{else} value="xt"{/if} placeholder="xt" class="form-control" {if $isPreDefined}readonly="readonly"{/if}/>
    			</div>
    			<div class="col-xs-6">
    				<label class="form-group" for="defaultlanguage">{$smarty.const._TEXT_DATABASE_LANG_DEFAULT}:</label>
                    <select tabindex="12" name="default_language" class="form-control">
                        {foreach item=lang from=$default_language}
                        <option value="{$lang.code}" {if $lang.code eq $selected_language}selected="yes"{/if}>{$lang.name}</option>
                        {/foreach}
                    </select>
    			</div>
    		</fieldset>
    		 		
    		<fieldset class="col-xs-12">
    		
				<input name="storage_engine" type="hidden"   value="innodb" />
    			<div class="col-xs-6">
    				<!--label class="form-group" for="storage_engine">{$smarty.const._TEXT_DATABASE_STORAGE_ENGINE}:</label-->
    				<!--p>{$smarty.const._TEXT_DATABASE_STORAGE_ENGINE_INFO}</p-->
    				<!--select  tabindex="6" name="storage_engine" class="form-control">
                        <option value="innodb" {if 'innodb' eq $sel_engine}selected="yes"{/if}>InnoDB</option>
                        <option value="myisam" {if 'myisam' eq $sel_engine}selected="yes"{/if}>MyISAM</option>
                    </select-->
    			</div>
    		
    			<div class="col-xs-6">
					<label class="checkbox form-group" for="install_eu_rates"></label>
					<input tabindex="13" type="checkbox" name="install_eu_rates" value="1"{$install_eu_rates}> <a href="#" class="tt" data-toggle="tooltip" title="{$smarty.const._TEXT_NEW_TAX_RULES_APPLY}">{$smarty.const._TEXT_INSTALL_EU_RATES}</a>

    				<label class="checkbox form-group" for="_dbDemodata"></label>
    				<input tabindex="13" type="checkbox" name="_dbDemodata" value="1"{$_dbDemodata}> <a href="#" class="tt" data-toggle="tooltip" title="{$smarty.const._TEXT_DATABASE_INFO3}">{$smarty.const._TEXT_DATABASE_DEMO}</a>
					{if $smarty.const._APS_INSTALL_PACKAGE neq 'true'}
					<label class="checkbox form-group" for="_isSSL"></label>
					<p><img src="templates/img/ssl_addressbar_ff.png"></p>
					<input tabindex="13" type="checkbox" name="_isSSL" value="1"{$_isSSL}> <a href="#" class="tt" data-toggle="tooltip" title="{$smarty.const._TEXT_SSL_SUPPORTED_INFO}">{$smarty.const._TEXT_SSL_SUPPORTED}</a>
					{/if}
    			</div>

    		</fieldset>
			<div class="btn_wrap" style="margin:16px">
				<button type="submit" class="btn next-btn btn-large btn-success btn-wizard-submit" title="{txt key=TEXT_BUTTON_NEXT}">
					<span class="btn-title">{txt key=TEXT_BUTTON_NEXT}</span>
					<span class="wait-indicator" style="display: none"><i class="glyphicon glyphicon-repeat gly-spin"></i></span>
				</button>
			</div>
    	</form>
	  </div>
</div>