	<div id="footer">
	    <div class="container">xt:Commerce 6 &copy; <a rel="noreferrer" target="_blank" href="https://www.xt-commerce.com">xt:Commerce</a> {'Y'|date}</div>
	</div>
    <script type="text/javascript">
        {literal}
	    $(document).ready(function() {
	        $("body").tooltip({selector: '[data-toggle=tooltip]' });

	        $(".btn-wizard-submit").click(function(){
	            $(this).find('.wait-indicator, .btn-title').toggle();
	            this.disabled = true;
                $(this).closest('form').submit();
            });
        });

        {/literal}
    </script>
  </body>
</html>