<table class="table">
<thead>
<tr>
	<th>{txt key=XTC_TH_HOSTER}</th>
	<th>{txt key=XTC_TH_PACK}</th>
	<th>{txt key=XTC_TH_PRICE}</th>
	<th>{txt key=HOSTING_VISITORS_DAY}</th>
</tr>
<tr>
	<td><img src="templates/img/profihost-geschaeftskunden.png" alt="ProfiHost" /></td>
	<td><a target="_blank" href="https://www.profihost.com/shop-hosting/xt-commerce/?p=xtc">xt:Commerce Hosting<br />by Profihost</a></td>
	<td>25,00 € {txt key=HOSTING_PER_MONTH}</td>
	<td>{txt key=HOSTING_TILL} 1.000<br />{txt key=HOSTING_VISITORS_DAY}</td>
</tr>
<tr>
	<td><img src="templates/img/profihost-geschaeftskunden.png" alt="ProfiHost" /></td>
	<td><a target="_blank" href="https://www.profihost.com/shop-hosting/xt-commerce/?p=xtc">Managed Server Starter<br />by Profihost</a></td>
	<td>59,00 € {txt key=HOSTING_PER_MONTH}</td>
	<td>{txt key=HOSTING_TILL} 2.000<br />{txt key=HOSTING_VISITORS_DAY}</td>
</tr>
<tr>
	<td><img src="templates/img/profihost-geschaeftskunden.png" alt="ProfiHost" /></td>
	<td><a target="_blank" href="https://www.profihost.com/shop-hosting/xt-commerce/?p=xtc">Managed Server Business<br />by Profihost</a></td>
	<td>95,00 € {txt key=HOSTING_PER_MONTH}</td>
	<td>{txt key=HOSTING_TILL} 3.000<br />{txt key=HOSTING_VISITORS_DAY}</td>
</tr>
<tr>
	<td><img src="templates/img/profihost-geschaeftskunden.png" alt="ProfiHost" /></td>
	<td><a target="_blank" href="https://www.profihost.com/shop-hosting/xt-commerce/?p=xtc">Managed Server Expert<br />by Profihost</a></td>
	<td>159,00 € {txt key=HOSTING_PER_MONTH}</td>
	<td>{txt key=HOSTING_TILL} 5.000<br />{txt key=HOSTING_VISITORS_DAY}</td>
</tr>
<tr>
	<td><img src="templates/img/profihost-geschaeftskunden.png" alt="ProfiHost" /></td>
	<td><a target="_blank" href="https://www.profihost.com/shop-hosting/xt-commerce/?p=xtc">Managed Server Professional<br />by Profihost</a></td>
	<td>290,00 € {txt key=HOSTING_PER_MONTH}</td>
	<td>{txt key=HOSTING_TILL} 10.000<br />{txt key=HOSTING_VISITORS_DAY}</td>

</tr>
<tr>
	<td><img src="templates/img/profihost-geschaeftskunden.png" alt="ProfiHost" /></td>
	<td><a target="_blank" href="https://www.profihost.com/shop-hosting/xt-commerce/?p=xtc">Managed Server Enterprise<br />by Profihost</a></td>
	<td>419,00 € {txt key=HOSTING_PER_MONTH}</td>
	<td>{txt key=HOSTING_TILL} 15.000<br />{txt key=HOSTING_VISITORS_DAY}</td>
</tr>
</thead>
</table>
<p>{txt key=HOSTING_PRICING_INFO}</p>