<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            {if $show_language == '1'}
            <label for="install_lang">{$smarty.const._TEXT_SELECT_LANGUAGE}</label>
            <a href="index.php?install_lang=de"><img src="../media/flags/de.gif" /></a>
            <a href="index.php?install_lang=en"><img src="../media/flags/gb.gif" /></a>
            <!--<a href="index.php?install_lang=bp"><img src="../media/flags/br.gif" /></a>-->
            <!--<a href="index.php?install_lang=tr"><img src="../media/flags/tr.gif" /></a>-->
            {/if}
        </ul>
        <h3 class="text-muted"><img src="templates/img/top_logo.jpg"alt="" /></h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h1><span class="xt">xt:</span>Commerce 6</h1>
            <p class="lead">
                {if !$system_installed}
                {if $smarty.const._APS_INSTALL_PACKAGE neq 'true'}
                {$smarty.const._TEXT_START_INTRO}
                {else}
                {$smarty.const._TEXT_START_INTRO_APS}
                {/if}
                {elseif $system_installed}
                {$smarty.const._TEXT_UPDATE_INTRO}
                {/if}
            </p>
            {if $httpsCheck.httpsAvailable === 1}
            <p class="muted small alert alert-info">
                {txt key="TEXT_SWITCH_TO_HTTPS"}<br/>
                <a href="{$httpsCheck.httpsUrl}">{$httpsCheck.httpsUrl}</a>
            </p>
            {/if}

            {if $httpsCheck.httpsAvailable === 0}
            {if $smarty.const._APS_INSTALL_PACKAGE neq 'true'}
            <p class="muted small alert alert-info">
                {txt key="TEXT_INFO_NO_HTTPS"}<br/>
            </p>
            {/if}
            {/if}

            <form action="{$next_page}" method="GET" id="main">
                <input type="hidden" name="next" value="1"/>
                <input type="hidden" name="page" value="index"/>
                <input type="hidden" name="install_lang" value="{$current_language}"/>
                <div class="radio" style="display:none"><!-- disabled -->
                    <label>
                        <input type="radio" name="WizardType" value="1"  {if !$system_installed}checked="checked"{/if} {if $system_installed}disabled="disabled"{/if}/>
                        {$smarty.const.TEXT_INSTALL}
                    </label>
                </div>
                <div class="radio" style="display:none">
                    <label>
                        <input type="radio" name="WizardType" value="2" {if $system_installed}checked="checked"{/if} {if !$system_installed}disabled="disabled"{/if} />
                        {$smarty.const.TEXT_UPDATE}
                    </label>
                </div>
                <br/>
                <p><button class="btn btn-lg btn-success">{$smarty.const.TEXT_BUTTON_GO}</button></p>
            </form>

        </div>
    </div>