 <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          {if $show_language == '1'}
                <label for="install_lang">{$smarty.const._TEXT_SELECT_LANGUAGE}</label>
                <a href="{$current_page}&install_lang=de"><img src="../media/flags/de.gif" /></a>
                <a href="{$current_page}&install_lang=en"><img src="../media/flags/gb.gif" /></a>
                <!--<a href="index.php?install_lang=bp"><img src="../media/flags/br.gif" /></a>-->
                <!--<a href="index.php?install_lang=tr"><img src="../media/flags/tr.gif" /></a>-->
           {/if}
        </ul>
        <h3 class="text-muted"><img src="templates/img/top_logo.jpg"alt="" /></h3>
      </div>

<div class="panel panel-default">
	  <div class="panel-body">
	{if $permissions_failed eq '1'}
	<div class="row-fluid">
	
	    <h1>{$smarty.const._TEXT_START_CHECK}</h1>
	    <h2>{$smarty.const._TEXT_START_PERMISSIONS}</h2>
	    {if $permissions}
	    <div class="alert alert-danger">
	        <ul class="info_error">
	            <li class="infoError">{$smarty.const._TEXT_START_PERMISSIONS_FAIL}</li>
				<ul>
	            {foreach name=aussen item=perm from=$permissions}
		        <li class="{$perm.class}">{$perm.path}</li>
		        {/foreach}
				</ul>
	        </ul>
	    </div>
	    {else}
	    <div class="alert alert-success">
	        <i class="icon-ok"></i> {$smarty.const._TEXT_START_PERMISSIONS_PASS}
	    </div>
	    {/if}
	</div>
	{/if}

	<div class="row-fluid">
	    <h2>{$smarty.const._TEXT_START_SETTINGS}</h2>
		{if $settings.has_error eq true}
		<table class="table table-striped">
	        <thead>
	        <tr>
	            <th>{$smarty.const._TEXT_START_COLUMN1}</th>
	            <th>{$smarty.const._TEXT_START_COLUMN2}</th>
	            <th>{$smarty.const._TEXT_START_COLUMN3}</th>
	        </tr>
	        </thead>
	        <tbody>
			<!--
			<tr class="contentrow1">
			<td>MySQL-Version >= 5.5</td>
			<td></td>
			<td></td>
			</tr>
			!-->
	        {foreach name=aussen item=setting from=$settings.checks}
			{if $setting.check eq '0'}
	        <tr class="{cycle values="contentrow2,contentrow1"}">
	        <td>{$setting.desc}</td>
	        <td>{$setting.version}</td>
	        <td>{if $setting.check eq '1'}
	            <span class="btn btn-success"><i class="icon-white glyphicon glyphicon-ok"></i></span>
	            {else if $setting.check eq '0'}
	            <span class="btn btn-danger"><i class="icon-white glyphicon glyphicon-remove"></i></span>
	            {/if}
	        </td>
	        </tr>
			{/if}
	        {/foreach}
	        </tbody>
		{/if}
	    </table>
	</div>


	<div class="row-fluid">
	    {if $settings.message == 0 && $permissions_failed neq '1'}
	    {* server meets system requirements *}
	    <div class="alert alert-success">
	        {txt key=_ERROR_START_SUCCESS}
	        <div class="btn_wrap">
	            <a href="{$next_page}" class="btn btn-large btn-success next-btn" rel="nofollow">{txt key=TEXT_BUTTON_NEXT}</a>
	        </div>
	    </div>
		{elseif $permissions_failed eq '1'}
		{* server meets system requirements NOT *}
		<div class="alert alert-danger">
			{txt key=_ERROR_START_ERROR}
			<br/>
			<div class="btn_wrap">

				<a href="{$current_page}" class="btn btn-warning btn-large"><i class="icon-white icon-refresh"></i> {txt key=TEXT_BUTTON_RELOAD}</a>
				<!-- {if $lang != 'bp'}<a href="http://addons.xt-commerce.com/de/xt:Commerce-4.1-Start-profihost.html" class="btn btn-warning btn-large" data-target="#hostingmodal" data-toggle="modal" target="_blank"><i class="icon-white icon-globe"></i> {txt key=HOSTING_ALTERNATIVE}</a>{/if} !-->
			</div>

		</div>
	    {else}
	    {* server meets system requirements NOT *}
	    <div class="alert alert-danger">
	        {txt key=_ERROR_START_ERROR}
	        <br/>
	        <div class="btn_wrap">
	
	            <a href="{$current_page}" class="btn btn-warning btn-large"><i class="icon-white icon-refresh"></i> {txt key=TEXT_BUTTON_RELOAD}</a>
	           <!-- {if $lang != 'bp'}<a href="http://addons.xt-commerce.com/de/xt:Commerce-4.1-Start-profihost.html" class="btn btn-warning btn-large" data-target="#hostingmodal" data-toggle="modal" target="_blank"><i class="icon-white icon-globe"></i> {txt key=HOSTING_ALTERNATIVE}</a>{/if}
	            {if $settings.has_blocking_error}
				{else}<a href="{$next_page}" class="btn btn-large btn-success" rel="nofollow"><i class="icon-white icon-play"></i> {txt key=TEXT_BUTTON_FORCE_NEXT}</a>
				{/if} !-->
	        </div>
	
	    </div>
	    {/if}
	    <br />
	</div>
	
	<!-- Modal -->
	{if $lang != 'bp'}
	<div id="hostingmodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="hostingmodalLabel" aria-hidden="true">
		<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="hostingmodalLabel">{txt key=XTC_HOSTINGS_HEADER}</h4>
	      </div>
	      <div class="modal-body">
	        {include file="inc.hostings.html"}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">{txt key=TEXT_BUTTON_CLOSE}</button>
	      </div>
	    </div>
 	 </div>
	</div>{/if}
</div>
</div>
    