<div class="container">
 	<div class="header">
    	<ul class="nav nav-pills pull-right">

		</ul>
		<h3 class="text-muted"><img src="templates/img/top_logo.jpg"alt="" /></h3>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{$smarty.const._TEXT_SHOPOWNER_HEADER}</h3>
	  </div>
	  <div class="panel-body">
		<form method="post" action="{$current_page}" class="form-horizontal">
			<fieldset class="col-xs-12">
				{if $error}
	            <div class="alert alert-danger">
	                <ul class="info_error">
	                    {foreach name=aussen item=err from=$error}
	                    <li class="infoError">{$err.text}</li>
	                    {/foreach}
	                </ul>
	            </div>
	            {/if}
    		</fieldset>
    		<fieldset class="col-xs-12">
    			<div class="col-xs-6">
    			<div class="form-group m-0">
    				<label class="form-group" for="store_name">{$smarty.const._TEXT_SHOP_NAME}:*</label>
    				<input type="text" name="store_name" id="store_name" value="{$store_name}" size="40" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			<label class="form-group" for="company">{$smarty.const._TEXT_SHOPOWNER_COMPANY}:*</label>
    				<input type="text" name="company" id="company" value="{$company}" size="40" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    				<label class="form-group" for="ceo">{$smarty.const._TEXT_SHOPOWNER_CEO}:*</label>
    				<input type="text" name="ceo" size="40" value="{$ceo}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    				<label class="form-group" for="vatid">{$smarty.const._TEXT_SHOPOWNER_VAT_ID}:</label>
    				<input type="text" name="vatid" size="40" value="{$vatid}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    				<label class="form-group" for="vatid">{$smarty.const._TEXT_SHOPOWNER_REGISTER_ID}:</label>
    				<input type="text" name="registerid" size="40" value="{$registerid}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    				<label class="form-group" for="vatid">{$smarty.const._TEXT_SHOPOWNER_REGISTER_COURT}:</label>
    				<input type="text" name="register_court" size="40" value="{$register_court}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			
    			</div>
    			<div class="form-group m-0">
    			
    			</div>
    			<div class="form-group m-0">
    			
    			</div>
    			<div class="form-group m-0">
    			
    			</div>
    			
    			
    				
    			</div>
    			<div class="col-xs-6">
    				
    				<div class="form-group m-0">
    			<label class="form-group" for="streetaddress">{$smarty.const._TEXT_SHOPOWNER_STREETADDRESS}:*</label>
    				<input type="text" name="streetaddress" size="40" value="{$streetaddress}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			<label class="form-group" for="zip">{$smarty.const._TEXT_SHOPOWNER_ZIP}:*</label>
    				<input type="text" name="zip" size="10" value="{$zip}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			<label class="form-group" for="city">{$smarty.const._TEXT_SHOPOWNER_CITY}:*</label>
    				<input type="text" name="city" size="40" value="{$city}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			<label class="form-group" for="country">{$smarty.const._TEXT_DATABASE_COUNTRY}:</label>
    				<input type="text" name="country" size="30" value="{$smarty.const._STORE_COUNTRY}" readonly class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			<label class="form-group" for="telephone">{$smarty.const._TEXT_SHOPOWNER_TELEPHONE}:</label>
    				<input type="text" name="telephone" size="40" value="{$telephone}" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			<label class="form-group" for="fax">{$smarty.const._TEXT_SHOPOWNER_FAX}:</label>
    				<input type="text" name="fax" size="40" value="{$fax}" class="form-control"/>
    			</div>
    			
    			<div class="form-group m-0">
    			<label class="form-group" for="email_from"><a href="#" class="tt" data-toggle="tooltip" title="{$smarty.const._TEXT_DATABASE_EMAIL_FROM_INFO}">{$smarty.const._TEXT_DATABASE_EMAIL_FROM}</a>:*</label>
    				<input type="text" name="email_from" value="{$email_from}" size="40" class="form-control"/>
    			</div>
    			<div class="form-group m-0">
    			<label class="form-group" for="email_to"><a href="#" class="tt" data-toggle="tooltip" title="{$smarty.const._TEXT_DATABASE_EMAIL_TO_INFO}">{$smarty.const._TEXT_DATABASE_EMAIL_TO}:*</a></label>
    				<input type="text" name="email_to" value="{$email_to}" size="40" class="form-control"/>
    			</div>
    				
	
    			</div>
    		</fieldset>

    		<fieldset class="col-xs-12">
    			<div class="col-xs-6">
    				<p class=""> {txt key=TEXT_MUST}</p>
    			</div>
    		</fieldset>
    		<input type="submit" class="btn btn-large btn-success next-btn" value="{txt key=TEXT_BUTTON_NEXT}" style="float:right">
		</form>
	  </div>
</div>