<div class="container">
 	<div class="header">
    	<ul class="nav nav-pills pull-right">
        {if $show_language == '1'}
        	<label for="install_lang">{$smarty.const._TEXT_SELECT_LANGUAGE}</label>
			<a href="{$current_page}&install_lang=de"><img src="../media/flags/de.gif" /></a>
			<a href="{$current_page}&install_lang=en"><img src="../media/flags/gb.gif" /></a>
			<!--<a href="index.php?install_lang=bp"><img src="../media/flags/br.gif" /></a>-->
		{/if}
		</ul>
		<h3 class="text-muted"><img src="templates/img/top_logo.jpg"alt="" /></h3>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">{$smarty.const.TEXT_AVAILABLE_UPDATES} {$storeVersion}</h3>
	  </div>
	  <div class="panel-body">
	    <div class="list-group">
			{if !$all_applied}
			<p class="alert alert-info">{$licWarning}</p>
			{/if}
	    	{foreach item=script from=$scripts}
		  		<a href="{if $script.Appliable}{$script.Page}{else}#{/if}" class="list-group-item list-group-item-success {if !$script.Appliable}disabled{/if}" data-toggle="tooltip" data-placement="right" title="{$script.Tooltip}" {if !$script.Applied && $script.Appliable}{if $script.popupMsg} onclick="return (confirm('{$smarty.const.TEXT_INFO_PLACE_LICENSE_JS}')){/if}"{/if}>
		  			{$script.Title}{if $script.patchInfo} {else}<span class="glyphicon glyphicon-{if $script.Applied}ok{else}arrow-right{/if}" style="float:right">{/if}
		  		</a>
			{/foreach}
		</div>
		
	 	{if $all_applied}
	  	<a href="{$next_page}" class="btn btn-lg btn-success next-btn" style="float:right">{$smarty.const.TEXT_BUTTON_NEXT}</a>
	 	{/if}
	  </div>
	  
</div>