
<style>

    #checkout li[class*=list-group-item-xt_paypal_checkout],
    #checkout li[class*=list-group-item-xt_paypal_checkout].list-group-item.active:hover,
    #checkout li[class*=list-group-item-xt_paypal_checkout].list-group-item.active:focus
    {
        background-color: inherit;
        color: inherit;
    }
    #checkout li[class*=list-group-item-xt_paypal_checkout].list-group-item.active .price-tag
    {
        color: inherit;
    }

    [id^=xt_paypal_checkout] .desc
    {
        padding-left: 25px;
        padding-right: 25px;
    }

</style>

{include file="./paypal-checkout-script-tag.tpl.html"}

<script>

document.addEventListener('DOMContentLoaded', function ()
{
    console.log("paypal-checkout-payment.tpl.html");
    enableFoundingSources();
    //renderAllEligibleButtons();
});
</script>