{if $payment_name|trim != '' && $payment_code|trim != ''}
    <div class="item item-{$payment_code} payment-container{if $payment_code == $payment_selected} selected{/if}">
        {if $payment_icon|trim != ''}
            {img img=$payment_icon type=w_media_payment alt=$payment_name class="icon img-responsive img-thumbnail pull-right"}
        {/if}
        <header data-toggle="collapse" data-target=".item-{$payment_code} .collapse">
            <label class="cursor-pointer">
                <span class="check">
                    {if $payment_hidden == true}
                        {form type=hidden name=selected_payment value=$payment_code}
                    {else}
                        {if $payment_code == $payment_selected}
                            {form type=radio name=selected_payment value=$payment_code checked=true}
                        {else}
                            {form type=radio name=selected_payment value=$payment_code}
                        {/if}
                    {/if}
                </span>
                <span class="name payment-name">{$payment_name}</span>
                {if $payment_price.formated}
                    <small class="price">&nbsp;{$payment_price.formated}</small>
                {/if}
            </label>
        </header>
        
        {if $payment_desc|trim != ''}
            <div class="desc  payment-desc collapse{if $payment_code == $payment_selected} in{/if} payment-desc">
                {$payment_desc}
            </div>
        {/if}
        
            <div class="desc payment-desc collapse{if $payment_code == $payment_selected} in{/if}">
            
            
            <div id="edit-sepa-account">
            {if $account_list}
            <fieldset>
        <div class="form-group">
            <label for="customers_company_2">{txt key=TEXT_BANKTRANSFER_ACCOUNT_SELECT}</label>
            {form type=select name=acID value=$account_list}
        </div>
        </fieldset>
        {/if}
            
    <fieldset>
    {if $account_list}<legend>{txt key=TEXT_BANK_ACCOUNTS_NEW}</legend>{/if}
        <div class="form-group">
            <label for="customers_company_2">{txt key=TEXT_BANKTRANSFER_OWNER}</label>
            {form id=customers_company_2 type=text name=banktransfer_owner value=$banktransfer_owner}
        </div>
        <div class="form-group">
            <label for="customers_company_3">{txt key=TEXT_BANKTRANSFER_BANK_NAME}</label>
            {form id=customers_company_3 type=text name=banktransfer_bank_name value=$banktransfer_bank_name}
        </div>
        <div class="form-group">
            <label for="customers_firstname">{txt key=TEXT_BANKTRANSFER_IBAN}</label>
            {form id=customers_firstname type=text name=banktransfer_iban value=$banktransfer_iban}
        </div>
        <div class="form-group">
            <label for="customers_lastname">{txt key=TEXT_BANKTRANSFER_BIC}</label>
            {form id=customers_lastname type=text name=banktransfer_bic value=$banktransfer_bic}
        </div>
        <div class="form-group">
            <label for="customers_lastname"></label>
            {if $banktransfer_save eq 'on'}
                {form type=checkbox name=banktransfer_save checked=true}
                {else}
                {form type=checkbox name=banktransfer_save}
                {/if}
                {txt key=TEXT_BANKTRANSFER_SAVE_ACCOUNT_DESC}
        </div>

    </fieldset>
</div><!-- #edit-sepa-account -->        
            </div>
    </div>
{/if}







