<div id="xt_cart_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="xt_cart_popup_label" data-ajax-url="{link page='cart' paction='index'}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="xt_cart_popup_label">{txt key=TEXT_CART}</h4>
            </div>
            <div class="modal-footer clearfix">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">{txt key=BUTTON_CONTINUE_SHOPPING}</button>
                {if $show_checkout_button}<a type="button" class="btn btn-success" href="{link page='checkout' paction='shipping' conn=SSL}">{txt key=BUTTON_CHECKOUT}</a>{/if}
                <a type="button" class="btn btn-success" href="{link page='cart' paction='index' conn=SSL}">{txt key=TEXT_CART}</a>
            </div>
            <div class="modal-body">
                Loading...
            </div>
            {if $message}
            <div class="modal-footer clearfix">
                {$message}
            </div>
            {/if}
            <!--div class="modal-footer clearfix">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">{txt key=BUTTON_CONTINUE_SHOPPING}</button>
                {if $show_checkout_button}<a type="button" class="btn btn-success" href="{link page='checkout' paction='shipping' conn=SSL}">{txt key=BUTTON_CHECKOUT}</a>{/if}
                <a type="button" class="btn btn-success" href="{link page='cart' paction='index' conn=SSL}">{txt key=TEXT_CART}</a>
            </div-->
        </div>
    </div>
</div>

{literal}
<script>
    // get cart content with jquery ajax load
    document.addEventListener("DOMContentLoaded",function(event){
        $('#xt_cart_popup').on('show.bs.modal', function () {
            var m = $(this)
            var ajaxUrl = m.data('ajax-url') + ' #cart-table';

            m.find('.modal-body').load(ajaxUrl, function() {
                $(this).find('button, .btn, .btn-group').hide()
                $(this).find('input').prop('disabled', true);
                $(this).find('input[type=number]').removeProp('type');
            });
        });
    });
</script>
{/literal}
