
<div class="ppcp-modal hidden" id="ppc_save_payment_method_info_overlay" tabindex="-1" role="dialog" aria-labelledby="ppc_save_payment_method_info_overlay" aria-hidden="true">
    <div class="ppcp-modal-dialog">
        <div class="ppcp-modal-content">
            <div class="ppcp-modal-body" id="ppc_save_payment_method_info_overlay_body">
                    <p>{txt key="TEXT_PPCP_SAVE_PAYMENT_METHOD_INFO"}</p>
                    <p>
                        <input type="button" class="pull-right" value="OK" style="width:100px" onclick="ppcSavePaymentMethodInfoModal(true)"/>
                    </p>
                    <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>



