{*include file="./paypal-checkout-script-tag.tpl.html"*}
<script>

const isStandardCard = true;

document.addEventListener('PayPalSdkLoaded', function ()
{
    console.log('paypal-checkout-confirmation-card-standard: processing event PayPalSdkLoaded')
    try {
        //ppcRemoveBackButton();
        ppcRemoveSubmitButton();
        enablePaypalButton("card", 'checkout')
        document.getElementById('paypal_button_container_checkout').style.width = "";

        /*
        form.querySelectorAll('a[href*="checkout/payment"]').forEach(
            element => element.style.marginBottom = '15px'
        );
        */
    }
    catch(e)
    {
        console.log(e);
    }
});
</script>

{include file="./paypal-checkout-wait-modal.tpl.html"}

<style>
    @media screen and (min-width: 761px) {
        #paypal_button_container_checkout {
            width: 85%;
        }
    }

    @media screen and (max-width: 760px) {
        #paypal_button_container_checkout {
            width: 100%;
        }
    }
</style>