<div class="pre-footer-image {if !$data}pre-footer-image-compact{/if}">
    {if $data}
    <div class="startpage-testimonials ">
        <div class="container">
            <div id="slider-testimonials" class="slider wow fadeIn" data-wow-delay="500ms" data-wow-duration="700ms">
                <div class="owl listing equalize-nothing">
                    <div id="categoryCarousel-testimonials" class="testimonialsCarousel">
                        {foreach name=testimonials key=key item=item from=$data}
                            <div class="text-center">
                                {if $item.image}
                                    <p>
                                        <span class="image">
                                            {if $item.link}
                                                <a href="{$item.link}" class="vertical-helper image-link ripple">{img img=$item.image type=m_org class="productImageBorder img-responsive" alt=$item.heading|escape:"html"}</a>
                                            {else}
                                                <span class="vertical-helper image-link">{img img=$item.image type=m_org class="productImageBorder img-responsive" alt=$item.heading|escape:"html"}</span>
                                            {/if}
                                        </span>
                                    </p>
                                {/if}
                                <p class="headline">
                                    {if $item.link}<a href="{$item.link}">{/if}
                                    {$item.heading}
                                    {if $item.link}</a>{/if}
                                </p>
                                <p class="long-content">
                                    {if $item.long_content|strip_tags}
                                        "{$item.long_content|strip_tags}"
                                    {/if}
                                </p>
                                <p>
                                    {if $item.short_content|strip_tags}
                                    <small class="text-muted">{$item.short_content|strip_tags}</small>
                                    {/if}
                                </p>
                            </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {/if}
</div>
