{if $_categories}
    {foreach key=k name=a item=i from=$_categories}
        <li id="cid-{$i.categories_id}" class="level-{$i.level} lang-{$language}{if $i.active == 1} active current{/if}{if $smarty.foreach.a.first} first{/if}{if $smarty.foreach.a.last} last{/if}{if $i.sub} dropdown{/if}">
            {if $i.sub}
                <a href="{$i.categories_link}" class="dropdown-linker visible-xs-inline-block btn btn-primary"{if $i.sub} data-toggle="dropdown"{/if}>

            	    <span class="toggle-button down"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                    <span class="toggle-button up"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
                </a>
            {/if}
            <a
            	{if defined('CONFIG_EW_ADVENTURY_PLUGIN_MEGANAV') && $smarty.const.CONFIG_EW_ADVENTURY_PLUGIN_MEGANAV|trim == '1' && $i.sub}
            		class="hidden-xs dropdown-toggle ripple mega-menu-trigger" href="javascript:void(0);" data-megamenu="{$i.categories_id}-mega-content"
            	{else}
            		class="hidden-xs dropdown-toggle ripple" href="{$i.categories_link}"{if $i.sub} data-toggle="dropdown"{/if}
            	{/if}>
            	{$i.categories_name|escape:'html'}{if $i.sub} <b class="caret"></b>{/if}
            </a>
            <a class="visible-xs ripple nav-name" href="{$i.categories_link}">{$i.categories_name|escape:'html'}</a>
            <div class="clearfix visible-xs"></div>
            {if defined('CONFIG_EW_ADVENTURY_PLUGIN_MEGANAV') && $smarty.const.CONFIG_EW_ADVENTURY_PLUGIN_MEGANAV|trim == '1' && $i.sub}
            	<div id="{$i.categories_id}-mega-content" class="hidden">
	            	<div class="mega-headline">
	            		<div class="container">
	            			<div class="cursor-pointer pull-right mega-close"><i class="fa fa-times"></i></div>
	            			<a href="{$i.categories_link}" title="{$i.categories_name|escape:'html'}">{txt key=TEXT_EW_ADVENTURY_MAINCAT_TITLE} "{$i.categories_name|escape:'html'}" <i class="fa fa-angle-right"></i></a>
	            		</div>
	            	</div>
	            	<div class="container">
                        <div class="slider">
                            <div class="owl listing equalize-nothing">
        						<div class="categoryCarousel">
        							{foreach key=k name=a item=module_data from=$i.sub}
        								<div class="col">
        									<div class="section panel panel-default panel-shadow" onclick="document.location.href='{$module_data.categories_link}'" style="cursor:pointer;">
        										<div class="cat-image">
        											<div class="panel-body text-center">
        												<span class="title text-word-wrap"><a href="{$module_data.categories_link}">{$module_data.categories_name}</a></span>
        											</div>
        											{if $module_data.categories_image}
        												<a href="{$module_data.categories_link}" class="vertical-helper image-link">{img img=$module_data.categories_image type=m_ewadventurycategorythumb class="productImageBorder img-responsive" alt=$module_data.categories_name|escape:"html"}</a>
        											{else}
        												<a href="{$module_data.categories_link}" class="vertical-helper image-link no-image">{img img='no_image.png' type=t_img class="productImageBorder img-responsive" alt=$module_data.categories_name|escape:"html"}</a>
        											{/if}
        										</div>
        									</div>
        								</div>
        							{/foreach}
        						</div>
                            </div>
                            <div class="clearfix"></div>
            			</div>
                    </div>
            	</div>
            {/if}
            {if $i.sub}
                <ul class="dropdown-menu {if defined('CONFIG_EW_ADVENTURY_PLUGIN_MEGANAV') && $smarty.const.CONFIG_EW_ADVENTURY_PLUGIN_MEGANAV|trim == '1'}hidden-sm hidden-md hidden-lg{/if}">
                    {foreach key=k1 name=a1 item=i1 from=$i.sub}
                        <li><a href="{$i1.categories_link}" class="ripple">{$i1.categories_name|escape:'html'}</a></li>
                    {/foreach}
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs"><a class="dropdown-header" href="{$i.categories_link}" title="{txt key=TEXT_EW_ADVENTURY_MAINCAT_TITLE}"><span class="text-uppercase text-primary">{$i.categories_name|escape:'html'}</span></a></li>
                </ul>
            {/if}
        </li>
    {/foreach}
{/if}
