{if $data}
    <div id="sidebar-content">
        {foreach name=carousel key=key item=item from=$data}
            {if $item.short_content or $item.image}
                <div class="bottom-boxes">
                    <p class="breaking-headline">
                        {$item.heading}
                    </p>
                    {if $item.image}
                        <p>
                            <span class="image">
                                {if $item.link}
                                    <a href="{$item.link}" class="vertical-helper image-link ripple">{img img=$item.image type=m_org class="productImageBorder img-responsive" alt=$item.heading|escape:"html"}</a>
                                {else}
                                    <span class="vertical-helper image-link">{img img=$item.image type=m_org class="productImageBorder img-responsive" alt=$item.heading|escape:"html"}</span>
                                {/if}
                            </span>
                        </p>
                    {/if}
                    {$item.short_content}
                    {if $item.link}
                        <a href="{$item.link}" class="btn btn-default">{txt key=TEXT_MORE_DETAILS}</a>
                    {/if}
                </div>
            {/if}
        {/foreach}
    </div>
{/if}


<div id="sidebar-products">
    {box name=xt_bestseller_products type=user}
    {box name=xt_special_products type=user order_by='p.products_id'}
    {box name=xt_new_products type=user order_by='p.last_modified DESC'}
    {box name=xt_last_viewed_products type=user}
    {box name=xt_upcoming_products type=user order_by='p.date_available'}
</div>
