{if $show eq 1}

<script src="https://www.paypalobjects.com/webstatic/ppplus/ppplus.min.js" type="text/javascript"></script>

<script type="application/javascript">

	var buttonSelector = '';
	var commentSelector = 'textarea[name=comments]';
	// boxSelector  =  xt_responsive         grid/elevation          , mobile                      , bb_bootstrap3
	var boxSelector = '{$ppp_box_selector}';
	var ppp = null;
	var ppp_placeholder = 'ppplus';
	var xt_selected_payment = '{$smarty.session.selected_payment}';
    let xt_selected_payment_sub = '{$smarty.session.selected_payment_sub}';
    if(xt_selected_payment_sub === '')  xt_selected_payment_sub = '{$smarty.session.kp_selected_payment_method_category}';

	function enablePPPContinue()
	{
		jQuery("input[name=selected_payment]").prop('checked',false);
		//jQuery(commentSelector).hide();
		jQuery(".payment-desc").css({ 'display':'none'});
		jQuery(".payment-name").css({ 'font-weight':'normal'});
		jQuery('.checkMark').css({ 'display':'none'});
		//jQuery(boxSelector).css('background-color','#fff');

		// xt_mobile start
		// payment name font weight
		jQuery("form[name^=payment] .ui-btn-up-b strong, form[name^=payment] .ui-btn-hover-b strong").css( { 'font-weight':'normal' } );
		jQuery('li.ui-li.ui-li-static.ui-btn-up-c').css('background-color','#fff');
		jQuery("div.ui-corner-all.ui-controlgroup.ui-controlgroup-vertical").css( { 'background-color':'#fff' } );
		// xt_mobile end
	}

	function disablePPPContinue()
	{
		//jQuery(commentSelector).show()
	}

    document.addEventListener("DOMContentLoaded", function(event)
	{
		if ($('#'+ppp_placeholder).length==1) {
			try {
				var buttonSelector = '{$ppp_button_selector}';
				if (buttonSelector == '') {
					throw new Error('PPP_BUTTON_NEXT_SELECTOR not configured');
				}
				if (jQuery(buttonSelector).length == 0) {
					throw new Error('No matching element found for PPP_BUTTON_NEXT_SELECTOR [' + buttonSelector + ']');
				}
				if (jQuery(buttonSelector).length > 1) {
					throw new Error('Multiple elements found for PPP_BUTTON_NEXT_SELECTOR [' + buttonSelector + '].');
				}

				jQuery(buttonSelector).click(
						function (e) {
							if (jQuery("input[name=selected_payment]:checked").length == 0) {
								// save comment

								var val = jQuery(commentSelector).val();
								if(typeof val != 'undefined' && (val.trim()).length>0)
								{
									var request = $.ajax( {
										url: "{$baseUrl}",
										type: "POST",
										data:  { comments: jQuery(commentSelector).val(), ppp_save_comment: 1 } ,
										dataType: "json"
									 } ).done(function (jqXHR, textStatus) {
										//console.log('savd comment');
									 } ).fail(function (jqXHR, textStatus) {
										//console.log('could not save comment');
									 } ).always(function (jqXHR, textStatus) {
										//console.log('returned from comment saving');
										ppp.doContinue();
									 } );
								}
								else {
									ppp.doContinue();
								}

								return false;
							}
						}
				);

				ppp = PAYPAL.apps.PPP( {
					"approvalUrl": "{$approval_url}",
					"placeholder": ppp_placeholder,
					"preselection": "{$preselect_paypal}",
					"language": "{$language}",
					"country": "{$country}",
					"mode": "{$ppp_mode}",
					"buttonLocation": "outside",
					"showPuiOnSandbox": "{$ppp_enable_pui_sandbox}",
                    surcharging: "false",
					"disableContinue": function () {
						disablePPPContinue();
					 } ,
					"enableContinue": function () {
						enablePPPContinue();
					 } ,
					"onContinue": function () {
						window.location = "{$ppp_continue_link}";
					},
					"onLoad": function () {
					    let selector = '.item-' + xt_selected_payment;
					    if(xt_selected_payment_sub != '') selector += '-'+xt_selected_payment_sub;
                        jQuery(selector).click();
                    }
				 } );
			}
			catch (e) {
				if ('{$ppp_mode}' == 'sandbox' || true) {
					alert('Error init Paypal Plus: ' + e.message);
				}
			}

			// box box-white box-hover
			try {
				jQuery(boxSelector).each(function (idx, val) {
					jQuery(val).css(
							 {  } );

					jQuery(val).prepend("<label class='checkMark'></label>");

					// xt_mobile start
					var parents = jQuery(val).parents('li.ui-li.ui-li-static.ui-btn-up-c');
					if (parents.length) {
						var paymentContainer = parents[0];
						jQuery(paymentContainer).prepend("<label class='checkMark'></label>");
					}
					// xt_mobile end
				 } );

				jQuery("input[name=selected_payment]").prop('checked', false).removeAttr('checked');

				jQuery(boxSelector).click(
						function (e) {
							// xt_grid / xt_elevation start
							jQuery(this).find("input[name=selected_payment]").prop('checked', true);
							// checkmark
							jQuery('.checkMark').css( { 'display': 'none' } );
							jQuery(this).find(".checkMark").css( { 'display': 'inline-block' } );
							// payment name font weight
							jQuery(".payment-name").css( { 'font-weight': 'normal' } );
							jQuery(this).find(".payment-name").css( { 'font-weight': 'bold' } );
							// payment desc diplay
							jQuery(".payment-desc").css( { 'display': 'none' } );
							jQuery(this).find(".payment-desc").css( { 'display': 'inline-block' } );
							// selected payment background
							//jQuery(boxSelector).css('background-color', '#fff');
							//jQuery(this).css('background-color', '#f9f9f9');
							// xt_grid / ew_evelations end

							// billpay start
							jQuery("label[for^=bpyPM]").css( { 'font-weight': 'normal' } );
							jQuery(this).find("label[for^=bpyPM]").css( { 'font-weight': 'bold' } );
							// billpay end

							// xt_mobile start
							var parents = jQuery(this).parents('li.ui-li.ui-li-static.ui-btn-up-c');
							if (parents.length) {
								var paymentContainer = parents[0];

								jQuery(this).parents('form[name^=payment]').find(".ui-btn-up-b strong, .ui-btn-hover-b strong").css( { 'font-weight': 'normal' } );
								jQuery(paymentContainer).find(".ui-btn-up-b strong, .ui-btn-hover-b strong").css( { 'font-weight': '700' } );
								jQuery(paymentContainer).css('background-image', 'none');
								jQuery(paymentContainer).css('background-color', '#f9f9f9');
								jQuery(paymentContainer).find("div.ui-corner-all.ui-controlgroup.ui-controlgroup-vertical").css( { 'background-color': '#f9f9f9' } );
								jQuery(paymentContainer).find(".checkMark").css( { 'display': 'inline-block' } );
							}
							// xt_mobile end

							ppp.deselectPaymentMethod();

							//return false;
						}
				);

				// try to make nice
				// jQuery('p br').remove();
				jQuery('#ppplus').css('margin-bottom', '-29px');

			}
			catch (e) {
			    console.log(e);
				if ('{$ppp_mode}' == 'sandbox') {
					alert('Warning: ' + e.message);
				}
			}

			jQuery("input[name=selected_payment]").click(
					function (e) {
						ppp.deselectPaymentMethod();
					}
			);
		} // end if ppp_placeholder found
		if ($.fn.collapse) {
			$('.collapse').collapse("hide");
		}

	 } );


</script>
{/if}
