
<div style="width:50%" class="ppp_pui_bank_details">
    <table>
        <tr>
            <td style="padding:10px 10px 0;">{txt key=TEXT_BAD_ACCOUNT_NAME}</td>
            <td style="padding:10px 10px 0;">{$bd.bad_account_name}</td>
        </tr>
        <tr>
            <td style="padding:10px 10px 0;">{txt key=TEXT_BAD_BANK_IDENTIFIER_CODE}</td>
            <td style="padding:10px 10px 0;">{$bd.bad_bank_identifier_code}</td>
        </tr>
        <tr>
            <td style="padding:10px 10px 0;">{txt key=TEXT_BAD_INTERNATIONAL_BANK_ACCOUNT_NUMBER}</td>
            <td style="padding:10px 10px 0;">{$bd.bad_international_bank_account_number}</td>
        </tr>
        <tr>
            <td style="padding:10px 10px 0;">{txt key=TEXT_BAD_REFERENCE_NUMBER}</td>
            <td style="padding:10px 10px 0;">{$bd.bad_reference_number}</td>
        </tr>
    </table>
</div>
