

<div class="modal fade" id="kp_pay_now_info_step1" tabindex="-1" role="dialog" aria-labelledby="kp_pay_now_info_step1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--h4 class="modal-title" id="kp_pay_now_info_label">Basic Modal </h4-->
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="kp_pay_now_info_body">
                <div style="text-align: center; margin-bottom:10px">
                    <img class="img-responsive" src="media/logo/{$smarty.const._STORE_LOGO}" alt="{$smarty.const._STORE_NAME}" style="display: unset;"/>
                </div>
                <div id="kp_pay_now_info_body_step1" style="text-align: center; font-size:1.1em">
                    <p>{txt key="TEXT_PAY_FORMULAR"}</p>
                    <p>{txt key="TEXT_KLARNA_PAY_NOW_INFO_BODY"}</p>
                </div>
            </div>
            <div class="modal-footer" id="kp_pay_now_info_footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{txt key="BUTTON_BACK"}</button>
                <button type="button" class="btn btn-primary" onclick="kp_doFinalize('pay_now')">{txt key="TEXT_KLARNA_PAY_NOW_INFO_OK_GO"}</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="kp_pay_now_info_step2" tabindex="-1" role="dialog" aria-labelledby="kp_pay_now_info_step2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="kp_pay_now_info_body">
                <div style="text-align: center; margin-bottom:10px">
                    <img class="img-responsive" src="media/logo/{$smarty.const._STORE_LOGO}" alt="{$smarty.const._STORE_NAME}" style="display: unset;"/>
                </div>
                <div id="kp_pay_now_info_body_step2" style="text-align: center; font-size:1.1em; padding:15px 0">
                    <p>{txt key="TEXT_KLARNA_INFO_PROCESSING_ORDER"}</p>
                    <i class="fa fa-refresh fa-2x" style="-webkit-animation:spin_kp_spinner 1.2s linear infinite;  -moz-animation:spin_kp_spinner 1.2s linear infinite;  animation:spin_kp_spinner 1.2s linear infinite;" ></i>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @-moz-keyframes spin_kp_spinner { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin_kp_spinner { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin_kp_spinner { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>
</div>
