
    <div class="product-reviews-list">

        {if $reviews_data && $reviews_data|@count == 0}
            <div class="alert alert-warning">{txt key=TEXT_XT_REVIEWS_NO_REVIEWS}</div>
        {else}
            <div class="alert alert-info">* <span style="font-size: 0.8em">{txt key=TEXT_XT_REVIEWS_VERIFIED_REVIEWS_INFO} <a href="{content_link cont_id=$smarty.const.XT_REVIEWS_INFO_CONTENT_ID}" style="color:inherit;text-decoration: underline">{txt key=TEXT_MORE}</a> </span></div>
        {/if}

        {if $reviews_data && $reviews_data|@count != 0}
            <span class="muted small pull-left">{$reviewCount}/{$reviewTotalCount} {txt key=TEXT_XT_REVIEWS_INFO}</span>
        {/if}
        <p class="{if $reviews_data && $reviews_data|@count != 0} text-right{/if}">
            <span class="btn-group">
                {if $show_reviews_button eq 'true' && $reviews_data && $reviews_data|@count != 0}
                    <a href="{$link_reviews_list}" class="btn btn-default" rel="nofollow">{txt key=TEXT_XT_REVIEWS_SHOW}</a>
                {/if}
                {if $show_write_reviews}
                <a href="{$link_reviews_write}" class="btn btn-primary" rel="nofollow">
                    <span class="glyphicon glyphicon-pencil"></span>
                    {txt key=TEXT_XT_REVIEWS_WRITE}
                </a>
                {/if}
            </span>
        </p>

        {if $reviews_data && $reviews_data|@count != 0}

            {foreach name=aussen item=module_data from=$reviews_data}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {if $module_data.customers_id}
                            <p class="review-editor text-small text-muted">{txt key=TEXT_XT_REVIEWS_VERIFIED_PURCHASE} *</p>
                        {else}
                            <p class="review-editor text-small text-muted">{txt key=TEXT_XT_REVIEWS_PURCHASE_NOT_VERIFIED} *</p>
                        {/if}
                        <div class="row">
                            <div class="col col-sm-3">
                                <div class="product-reviews">
                                    <div class="reviews_rating_light">
                                        <i></i><i></i><i></i><i></i><i></i>
                                        <div class="reviews_rating_dark" style="width:{$module_data.review_rating}%">
                                            <i></i><i></i><i></i><i></i><i></i>
                                        </div>
                                    </div>
                                </div>
                                <p class="review-editor text-small text-muted">{txt key=TEXT_XT_REVIEWS_EDITOR} {$module_data.review_editor} {txt key=TEXT_ON} {$module_data.review_date|date_format:"%d.%m.%Y"}</p>
                            </div>
                            <div class="col col-sm-9">
                    <p class="review-title lead bold">{$module_data.review_title}</p>
                                <p class="review-text">{$module_data.review_text|nl2br}</p>
                                {if $module_data.admin_comment}
                                    <hr />
                    <div style="padding-left:20px">
                        <p class="review-editor" style="font-size: 0.85em;"><i class="fa fa-reply"></i>{if $store_domain} <b>{$store_domain}:</b>{/if}</p>
                                        {$module_data.admin_comment}
                                    </div>
                                {/if}
                            </div>
                        </div>
                    </div>
                </div>
            {/foreach}

            <p class="text-right">
                <span class="btn-group">
                    {if $show_reviews_button eq 'true'}
                        <a href="{$link_reviews_list}" class="btn btn-default" rel="nofollow">{txt key=TEXT_XT_REVIEWS_SHOW}</a>
                    {/if}
                    {if $show_write_reviews}
                    <a href="{$link_reviews_write}" class="btn btn-primary" rel="nofollow">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {txt key=TEXT_XT_REVIEWS_WRITE}
                    </a>
                    {/if}
                </span>
            </p>

        {/if}

    </div>
