/*  some disabled for ew template // @xt todo check ob das prinzipiell raus kann */
#checkout-payment #checkout .checkMark, #form[name^=payment] .box.box-white.box-hover, #checkout-payment  .box.box-white.box-hover {
    /* disabled for ew: background-color:#fff ; */
    color: #000 !important;
    position:relative;
    border-radius:0;
    border-style: solid;
    border-width:0 0 1px 0;
    /* disabled for ew: border-color:#ddd; */
    margin:0;
}

#checkout-payment #checkout .checkMark{
    border-width: 0;
}

#checkout-payment #checkout .box.box-white.box-hover:hover, #checkout-payment .box.box-white.box-hover:hover, #checkout-payment .box-hover:hover {
    background-color:#f9f9f9 !important;
    color: #000 !important;
    cursor:pointer; cursor: hand;
}
#checkout-payment .box-hover:hover *  {
    color: #000 !important;
}
#checkout-payment .box-hover:hover div {
    background-color: #f9f9f9 !important;
}

#checkout-payment .payment-name {font-weight: normal; }
.payment-name { font-size: 12px !important;}
.payment-name > span { display: inline !important;}
.payment-desc { display: none; }
input[name=selected_payment] {display:none; position:absolute;}
a.ppp-link  {     font-weight: bold;     text-decoration: underline;     font-style: italic;     color: #009cde; }

#checkout-payment .payment-name:after {
    content:'';
    display:block;
    clear: both;
}




/* bb_bootstrap START */
#checkout .checkout-row ul li #ppplus { }
#checkout .checkout-row ul li + li {
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
    padding: 25px 0 15px 10px
}
#checkout .checkout-row ul li + li:hover {
    background: #f9f9f9 !important;
}
#checkout .checkout-row ul li .checkmark { margin-right: 10px; }
/* bb_bootstrap END */


/* xt_mobile START*/
form[name^=payment] > ul[data-role=listview] * { background-image: none !important; }
form[name^=payment] > ul[data-role=listview] {
    background-color: white;
    padding: 5px;
}

form[name^=payment] li[data-role=divider] {
    display: none;
}
form[name^=payment] > .ui-listview-inset .ui-li
{
    border-width: 0 0 1px 0;
}

form[name^=payment] .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li
{
    padding: 0;
}

form[name^=payment] .ui-btn-up-b,
form[name^=payment] .ui-btn-hover-b
{
    background: #fff !important;
    border-width: 0;
    color: #000 !important;
}
form[name^=payment] .ui-btn-hover-b
{
    background: #f9f9f9 !important;
}
form[name^=payment] .ui-radio-on.ui-btn-up-b ,form[name^=payment] .ui-radio-on.ui-btn-hover-b
{
    background: transparent !important;
}
form[name^=payment] .ui-btn-up-b strong,
form[name^=payment] .ui-btn-hover-b strong {
    font-weight: normal ;
    font-size: 12px !important;
}
form[name^=payment] .ui-controlgroup {
    margin: 0;
    padding: 2px 0;
}
form[name^=payment] .ui-icon-radio-on,
form[name^=payment] .ui-icon-radio-off
{
    display: none;
    position: absolute;
}
form[name^=payment] .ui-btn-icon-left .ui-btn-inner
{
    padding-left: 8px;
}
form[name^=payment] input.ui-input-text, form[name^=payment] textarea.ui-input-text {
    width: 95%;
    margin: 0 10px;
}

form[name^=payment] ul[data-role=listview] ul[data-role=listview] label {
    font-weight: normal;
    padding-left: 10px;
    font-size: 0.8em;
}
form[name^=payment] ul[data-role=listview] ul[data-role=listview] .ui-checkbox label .ui-btn-text {
    font-weight: normal;
    padding-left: 30px;
    font-size: 0.8em;
}
li.ui-li.ui-li-static.ui-btn-up-c { cursor: pointer;}
li.ui-li.ui-li-static.ui-btn-up-c  label.checkMark { position: absolute; right: 5px; top: 5px; }
div.ui-corner-all.ui-controlgroup.ui-controlgroup-vertical { background-color: white; background-image: none;}

/* xt_mobile END */

/* evelations START */
#checkout-payment .list-group-item.active {
    background-color: #fff;
    border-color: #ddd;
    border-width-top: 0;
}
#checkout #checkout-payment .list-group-item:hover {
    background-color: transparent;
    border-width: 0 1px 1px 1px;
}

#checkout #checkout-payment .list-group-item:hover .payment-container{
    background-color: #f9f9f9 !important;
}

#checkout-payment .list-group-item {
    border-width: 0 1px;
}

#checkout-payment .list-group-item:last-child {
    border-width: 0 1px 1px;
}

#checkout-payment .list-group-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #dddddd;
    border-width: 1px 1px 0 1px;
}

#checkout #checkout-payment  .list-group-item:hover:first-child {
    border-width: 1px 1px 0 1px;
}

#checkout #checkout-payment .list-group-item:hover {
    border-width: 0 1px;
}
#checkout #checkout-payment .list-group-item:last-child:hover {
    border-width: 0 1px 1px 1px;
}

#checkout-payment .list-group-item .payment-name, #checkout-payment .list-group-item .payment-desc{
    padding: 15px 10px 0px;
    margin-top: -19px !important;
    font-size: 12px !important;
    font-family: Helvetica,Arial,sans-serif !important;
    font-weight: normal;
    color: #000
}

#checkout-payment #checkout .list-group .list-group-item.active *, #checkout-payment #checkout .list-group .list-group-item.active .price {
    color: #000 !important;
}
#checkout-payment ul.list-group .box { padding: 0; }
/* evelations END */


/* xt_responsive start */
#checkout #checkout-payment .payment-container {
    cursor: pointer;
    border-bottom: 1px solid #d9d9d9;
}
#checkout  #checkout-payment .list-group-item .payment-container header
{
    line-height:15px
}
#checkout #checkout-payment  .list-group-item .payment-container .payment-desc
{
    padding: 0px 10px 10px 10px;
}
#checkout #checkout-payment  .payment-container .payment-desc{
    font-weight: normal;;
    font-size: 13px;;
}
#checkout #checkout-payment .item.payment-container {
    padding-top: 20px;
    margin-top: -19px;
    padding-right: 10px;
}

#checkout #checkout-payment .payment-container .img-thumbnail {
    bottom: 12px;
    position: relative;
    border: 0;
    background: transparent;
}

/* xt_responsive end */


#checkout #checkout-payment .checkMark, form[name^=payment] .checkMark, form[name^=payment] > ul[data-role=listview] .checkMark{
    float: right;
    background-image: url("https://www.paypalobjects.com/webstatic/ppplus/icons/checkmark.png") !important;
    height:23px;
    width: 23px;
    display: none;
    margin-left:10px;
    margin-top: 5px;
    padding-right:10px;
    background: transparent no-repeat;
}


/* squiggle START */
#checkout-payment .box { padding: 10px; }
#checkout-payment .float-right { float: right; }  /* add missing float-right */
/* squiggle END */
