<div style="padding:10px 10px 30px 10px">

    <h3>{txt key="TEXT_KLARNA_PAYOUTS_SUMMERY"} ({$date_start} - {$date_end}<!--{$total} {txt key="TEXT_KLARNA_PAYOUTS"}-->)</h3>
    <br />
    <table style="border:0">
        <thead>
        <td align="right" style="padding:5px 0px 5px 0px; font-weight:bold;">{txt key="TEXT_KLARNA_TOTAL_PAYOUTS"}</td>
        <td align="right" style="padding:5px 0px 5px 20px;">{txt key="TEXT_KLARNA_TOTAL_SALES"}</td>
        <td align="right" style="padding:5px 0px 5px 20px;">{txt key="TEXT_KLARNA_TOTAL_FEES"}</td>
        <td align="right" style="padding:5px 0px 5px 20px;">{txt key="TEXT_KLARNA_TOTAL_TAX"}</td>
        <td align="right" style="padding:5px 0px 5px 20px;">{txt key="TEXT_KLARNA_TOTAL_RETURNS"}</td>
        </thead>
        <tbody>
        {foreach item=data from=$payouts_data key=$curr}
            <tr>
                <td align="right" style="padding-bottom:15px;font-weight:bold">{$data.formated.total_payouts}<br /><span style="font-size:0.7em">{$curr}</span></td>
                <td align="right" style="padding-bottom:15px;">{$data.formated.total_sales}<br /><span style="font-size:0.7em">{$curr}</span></td>
                <td align="right" style="padding-bottom:15px;">{$data.formated.total_fees}<br /><span style="font-size:0.7em">{$curr}</span></td>
                <td align="right" style="padding-bottom:15px;">{$data.formated.total_tax}<br /><span style="font-size:0.7em">{$curr}</span></td>
                <td align="right" style="">{$data.formated.total_returns}<br /><span style="font-size:0.7em">{$curr}</span></td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>


