<div class="paypal_checkout_selection paypal_checkout_selection_pui" style="display:flex;padding-top:10px">

    <div style="flex:0; margin-right: 15px; width: 80px">
        <input id="paypal_checkout_selection_pui_phoneNumberPrefix" type="text" required__X="required" class="xt-form-required" name="phoneNumberPrefix" value="49" placeholder="49" style="width:80px">
        <label for="paypal_checkout_selection_pui_phoneNumber" >&nbsp;{txt key=TEXT_PHONE_PREFIX} *</label>
    </div>
    <div style="flex:1; max-width: 200px" class="pull-left">
        <input id="paypal_checkout_selection_pui_phoneNumber" type="text" required__X="required" class="xt-form-required" name="phoneNumber" placeholder="3055512345" value="{$phone}">
        <input id="paypal_checkout_selection_pui_phoneNumber_type" type="hidden"  name="phoneNumberType" value="{$phoneType}">
        <label for="paypal_checkout_selection_pui_phoneNumber" >&nbsp;{txt key=TEXT_PHONE} *</label>
    </div>
    <div style="flex:1; max-width: 150px; padding-left:30px" class="pull-left">
        <input id="paypal_checkout_selection_pui_birthdate" type="date" required__X="required" class="xt-form-required" name="birthDate" placeholder="31.01.1980" value="{$birthDate}">
        <label for="paypal_checkout_selection_pui_birthdate" >&nbsp;{txt key=TEXT_BIRTHDATE} *</label>
    </div>

</div>

<div id="paypal_checkout_selection_pui-error" style="color: #9f3a38"> </div>

<script>
    document.addEventListener('PayPalSdkLoaded', function ()
    {
        ppcSetupPuiForm();
    });

</script>