{if $data}
    <div class="startpage-eyecatcher-container">
        {foreach name=eyecatcher key=key item=item from=$data}
            <div class="startpage-eyecatchter"{if $item.image} style="background-image:url('{img img=$item.image type=m_org path_only=true}');
            {if $smarty.foreach.eyecatcher.index is even}background-position: left center;{elseif $smarty.foreach.eyecatcher.index}background-position: right center;{/if}{/if}">
                <div class="container">
                    <div class="row">
                        {if $item.image and $smarty.foreach.eyecatcher.index is odd}
                            <div class="col col-sm-5 hidden-xs">
                            </div>
                        {/if}
                        {if $item.heading || $item.short_content}
                            <div class="col {if $item.image}col-md-7{else}col-xs-12{/if} wow fadeInRight" data-wow-delay="500ms" data-wow-duration="700ms">
                                {if $item.heading}
                                    <p class="headline">
                                        {if $item.link}<a href="{$item.link}">{/if}
                                        {$item.heading}
                                        {if $item.link}</a>{/if}
                                    </p>
                                {/if}
                                {if $item.short_content}
                                    {$item.short_content}
                                {/if}
                                {if $item.link}
                                    <a href="{$item.link}" title="{$item.heading|escape:"html"}" class="btn btn-lg btn-secondary" role="button">
                                        {txt key=TEXT_INFO}
                                    </a>
                                {/if}
                            </div>
                        {/if}
                        {if $item.image and $smarty.foreach.eyecatcher.index is even}
                            <div class="col col-sm-5 hidden-xs">
                            </div>
                        {/if}
                    </div>
                </div>
            </div>
        {/foreach}
    </div>
{/if}
