<table class="data-table alternating">
    {foreach key=$k item=$v from=$data name=list_data}
        {if $k != 'html_name' || $k == 0}
        {if $v|is_array && $v|count}
        <tr class="accordion-row">
            <td colspan="2">{include file="./accordion.tpl.html" v=$v name="" type=$k c=false}</td>
        </tr>
        {elseif $v|is_array && $v|count==0}
        <tr>
            <td style="padding-left:1.4em">{$k}</td>
            <td style="padding-left:1em">-</td>
        </tr>
        {else}
            <tr>
                <td style="padding-left:1.4em">{$k}</td>
                <td style="padding-left:1em" class="{$kp_order_ref}_{$k}">{$v}</td>
            </tr>
            {/if}
        {/if}
    {/foreach}
</table>