{if $plugin_status.xt_startpage_products == 'true' && ($smarty.const.ACTIVATE_XT_STARTPAGE_PRODUCTS_PAGE == 'true' || $smarty.const.ACTIVATE_XT_STARTPAGE_PRODUCTS_PAGE == 1)}
    <div class="startpage-products-container">
        <div class="container">
            <div class="product-listing product-listing-parallax wow fadeInUp" data-wow-delay="400ms" data-wow-duration="900ms">
                <h2 class="breaking-headline">{txt key=TEXT_EW_EVELATIONS_STARTPAGE_RECOMMENDATION}</h2>
                <div class="clearfix"></div>
                {page name=xt_startpage_products type=user tpl_type='product_listing' tpl='product_listing_slider.html'}
            </div>
        </div>
    </div>

{/if}
