<Files xt_paypal_onboarding.php>
    <IfModule !mod_authz_core.c>
		Order Deny,Allow
		Allow from all
	</IfModule>
	<IfModule mod_authz_core.c>
		Require all granted
	</IfModule>
</Files>
<Files xt_paypal_onboarding_status.php>
    <IfModule !mod_authz_core.c>
		Order Deny,Allow
		Allow from all
	</IfModule>
	<IfModule mod_authz_core.c>
		Require all granted
	</IfModule>
</Files>
