
{if $coupon_amount}
<div class="row tfoot bold text-right">
	<div class="col col-sm-offset-4 col-xs-7 col-sm-6">
		{txt key=TEXT_COUPON_AKTIV}:
		<code>{$arr_coupon.coupon_code}</code><br/>
		<a class="btn btn-danger btn-xs" href="{$remove_coupon_link}">
			<span class="glyphicon glyphicon-trash"></span>
			{txt key=TEXT_COUPON_REMOVE}
		</a>
	</div>
	<div class="col col-xs-5 col-sm-2">
		{$coupon_amount}
	</div>
</div>
{/if}
<div class="row tfoot bold text-right">
	<div class="col col-sm-offset-4 col-xs-7 col-sm-6">
		{txt key=TEXT_SUB_TOTAL}
	</div>
	<div class="col col-xs-5 col-sm-2">
		{$new_total}
	</div>
</div>
