{if $data}
    <div class="usp-container{if $compactTeaser} compact-teaser{/if}">
        <div class="usp-container-overlay"></div>
        <div class="container">
            <div class="row listing">
                {assign var="animationDelay" value="200"}
                {assign var="i" value=0}
                {foreach name=usp key=key item=item from=$data}
                    {math assign="animationDelay" equation='x+y' x=$animationDelay y=300}
                    <div class="col col-md-6 text-word-wrap wow fadeInUp" data-wow-delay="{$animationDelay}ms" data-wow-duration="700ms">
                        <div class="usp-item {if $item.link} cursor-pointer{/if}"{if $item.image} style="background-image: url('{img img=$item.image type=m_org path_only=true}');"{/if}{if $item.link} onclick="document.location.href='{$item.link}'"{/if}>
                            <div class="usp-content">
                                {if $item.short_content}
                                    {$item.short_content}
                                {/if}
                                <p class="heading h2">
                                    {if $item.link}<a href="{$item.link}">{/if}
                                    {$item.heading}
                                    {if $item.link}</a>{/if}
                                </p>
                            </div>
                        </div>
                    </div>
                    {assign var="i" value=$i+1}
                    {if $i == 2}
                        {assign var="i" value=0}
                        </div><div class="row listing">
                    {/if}
                {/foreach}
            </div>
        </div>
    </div>
{/if}
