{if $_categories}
    <div class="top-categories">
        <div class="row">
            <div class="col col-lg-12 col-1">
                <h2 class="breaking-headline">{txt key=TEXT_EW_ADVENTURY_TOPCATEGORIES}</h2>
            </div>
        </div>
        <div class="slider">
            <div class="owl listing equalize-nothing">
                <div id="categoryCarousel-category" class="categoryCarousel">
                    {assign var="animationDelay" value="200"}
                    {foreach key=k name=a item=module_data from=$_categories}
                    {math assign="animationDelay" equation='x+y' x=$animationDelay y=300}
                    <div class="col">
                        <div class="section panel panel-default panel-shadow wow fadeInUp" data-wow-delay="{$animationDelay}ms" data-wow-duration="700ms" onclick="document.location.href='{$module_data.categories_link}'" style="cursor:pointer;">
                            <div class="cat-image">
                                <div class="panel-body text-center">
                                    <span class="title text-word-wrap"><a href="{$module_data.categories_link}">{$module_data.categories_name}</a></span>
                                </div>
                                {if $module_data.categories_image}
                                <a href="{$module_data.categories_link}" class="vertical-helper image-link">{img img=$module_data.categories_image type=m_ewadventurycategorythumb class="productImageBorder img-responsive" alt=$module_data.categories_name|escape:"html"}</a>
                                {else}
                                <a href="{$module_data.categories_link}" class="vertical-helper image-link no-image">{img img='no_image.png' type=t_img class="productImageBorder img-responsive" alt=$module_data.categories_name|escape:"html"}</a>
                                {/if}
                            </div>
                        </div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
{/if}
