<!-- info popup -->
<div id="ec_installments_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ec_installments_popup_label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!--h4 class="modal-title" id="ec_installments_popup_label">{txt key=TEXT_EC_INSTALLMENTS_INFO}</h4-->
                <p class="center">
                    <img style="margin-bottom:10px;" src="./plugins/xt_easy_credit/images/easy_credit.png" width='130' border="0" alt="Easy_credit Logo" /><br />
                    <span class="bold">Zahlen Sie bequem und einfach in monatlichen Raten</span><br />
                    Ihre Ratenzahlungen und den passenden Finanzierungsplan k&ouml;nnen Sie im Rahmen des Bestellprozesses ausw&auml;hlen.<br />
                    Ihr Antrag erfolgt komplett online und wird in wenigen Schritten hier im Shop abgeschlossen.<br />
                    <span class="bold">Nettodarlehensbetrag:  {$financing_value}&nbsp;{$example.monthly_payment.currency_code}</span>
                </p>
            </div>
            <div class="modal-body">
                {if $options}
                    {include file="./easy_credit_widget_modal_body.tpl.html"}
                {else}
                <p class="center">
                    <img style="margin-bottom:10px;" src="./plugins/xt_easy_credit/images/load.gif" width='40' border="0" alt="Easy_credit Logo" />
                </p>
                {/if}
            </div>
            <div class="modal-footer clearfix">
            </div>
        </div>
    </div>
</div>

