<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  <link rel="stylesheet" href="theme.css" type="text/css"> </head>
<style>



.bg-primary_grey {
	background-color: #A3B9B7;
}
.footer {
	height:150px;
}

</style>
<body id="klarnastatus" class="bg-primary_grey" >
 <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <img src="images/klarna-white.svg" height="20px" />
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent"> </div>
    </div>
  </nav>
  <div class="text-white p-0 bg-white">
    <div class="container">
      <div class="row">
        <div class="align-self-center p-5 col-md-6">
          <h1 class="mb-4 text-dark">1 Step Checkout</h1>
          <p class="mb-5 text-dark">
            Für die Verwendung von xt:Commerce FREE ist eine aktivierung des <a href="https://www.xt-commerce.com/1-page-checkout/?utm_source=shop&utm_medium=link&utm_campaign=klarna_signup" target="_blank">1 Steck Checkouts</a> notwendig. Folgen Sie hierzu den weiteren Schritten.
            <br><br>Mit unserem 1 Step Checkout in Kooperation mit Klarna erhalten Sie alle notwendigen Zahlungsweisen zu unschlagbaren <b>Gebühren</b> von <b>1,99% + 0,35 EUR</b> pro Transaktion.
            <br /><br /><b>Enthaltene Zahlungsweisen:</b> Rechnung, Ratenkauf, Lastschrift, Sofort, Kreditkarte
            <br /><br /><b>Optionale externe Zahlungsweisen:</b>PayPal, Vorkasse, Nachnahme, und weitere
            <br />
          <a class="btn btn-lg btn-primary" href="klarna.php">Registrieren</a>
          <a class="btn btn-lg btn-outline-primary m-3" href="https://www.klarna.com/de/verkaeufer/xtcommerce/" target="_blank">Gebühren und Mehr</a>
        </div>
        <div class="align-self-center col-md-6 p-0">
          <img src="images/landingpage_teaser.png" class="d-block img-fluid w-150 float-right">
        </div>
      </div>
    </div>
  </div>

 <div class="text-white p-0 bg-white">
   <div class="container">
     <div class="row">
       <div class="align-self-center p-5 col-md-12">
         <h1 class="mb-4 text-dark">Blitzschneller Checkout</h1>
         <p class="mb-5 text-dark">
         Die 1 Step Checkout Lösung ermöglicht es Ihren Kunden, schnell und ohne langwierigen Checkout Prozess die Bestellung abzuschließen. Für eine optimale Usability muss der Checkout für Zahlungsarten wie Kreditkarte, Lastschrift oder Ratenkauf nicht verlassen werden! Der komplette Prozess findet innerhalb des 1 Step Checkouts in Ihrem Shop statt.
         <br/><br/>
           Selbstverständlich ist der Checkout auch für Mobile Endgeräte optimiert.
           <br/><br/>
           Die moderne Integration erhöht die Conversionrate in Ihrem Shop und verhindert das Kunden in einem üblichen und über mehrere Seiten langen Checkout verloren gehen.
           <br/><br/>
           In nachfolgendem Video sehen Sie einen Bestellabschluss innerhalb von wenigen Sekunden.<br/><br/>
           <iframe src="https://player.vimeo.com/video/323482460" width="640" height="360" frameborder="0" allowfullscreen></iframe>
         </p>
       </div>
     </div>
   </div>

 </div>

  <div class="text-white bg-primary_grey footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 py-4">
          <p class="small">Und so einfach geht es:
            <br>1. xt:Commerce Shop einrichten
            <br>2. Bei Klarna registrieren
            <br>3. Klarna Checkout im Shop aktivieren
            <br>3. Sofort mit allen Klarna Zahlarten anfangen zu verkaufen</p>
        </div>
        <div class="col-md-4 py-4"><img src="images/klarna_icon_checkout.png" width="150px"/></div>
        <div class="col-md-4 py-4">
        <p class="small">Der Klarna Checkout enthält alle wichtigen Zahlarten</p>
        <img src="https://cdn.klarna.com/1.0/shared/image/generic/badge/de_de/checkout/long-blue.png?width=440" width="400px"/>
        </div>
      </div>
    </div>
  </div>
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>

</html>