<!--  Klarna Dashboard Widget-->
{if $status neq 'PAYOUTS_ENABLED'}
<div class="info-box">            
              {if $status eq 'PENDING'}
              <span class="info-box-icon info-box-orange"><i class="far fa-clock"></i></span>
            	<div class="info-box-content">
              		<span class="info-box-text">Klarna Checkout - Status Ihrer Registrierung</span>
              		<span class="info-box-number">Registrierung erforderlich</span>
              {elseif $status eq 'TRANSACTIONS_ENABLED'}
					<span class="info-box-icon info-box-orange"><i class="fas fa-exclamation"></i></span>
            	<div class="info-box-content">
              		<span class="info-box-text">Klarna Checkout - Status Ihres Accounts</span>
              		<span class="info-box-number">Daten für Auszahlung benötigt</span>                    
              {elseif $status eq 'ADDITIONAL_REVIEW_1' || $status eq 'ADDITIONAL_REVIEW_2' || $status eq 'ADDITIONAL_REVIEW_3'}
              <span class="info-box-icon info-box-orange"><i class="fas fa-clock"></i></span>
            	<div class="info-box-content">
              		<span class="info-box-text">Klarna Checkout - Status Ihres Accounts</span>
              		<span class="info-box-number">Registrierung in Prüfung</span>  
              {elseif $status eq 'TRANSACTIONS_DISABLED'}
              <span class="info-box-icon info-box-red"><i class="fas fa-exclamation-triangle"></i></span>
            	<div class="info-box-content">
              		<span class="info-box-text">Klarna Checkout - Status Ihres Accounts</span>
              		<span class="info-box-number">Transaktionen deaktiviert</span>  
              	{elseif $status eq 'SUSPENDED'}
              <span class="info-box-icon info-box-red"><i class="fas fa-exclamation-triangle"></i></span>
            	<div class="info-box-content">
              		<span class="info-box-text">Klarna Checkout - Status Ihres Accounts</span>
              		<span class="info-box-number">Klarna-Konto gesperrt</span>             
              {else}
              <span class="info-box-icon info-box-red"><i class="fas fa-exclamation"></i></span>
            	<div class="info-box-content">
              		<span class="info-box-text">Klarna Checkout - Status Ihrer Registrierung</span>
              		<span class="info-box-number">Registrierung erforderlich</span>
              
              {/if}
              <span class="info-box-text">Bitte klicken Sie rechts oben auf den Link</span>
            </div>
            <!-- /.info-box-content -->
          </div>
{/if}          
<!-- Klarna End -->